# Dependencies
node_modules/
.npm-cache/    # Важно для решения проблемы с длинными именами
.npm/

# Build outputs
/dist
/build

# Environment
.env
.env.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*